<!doctype html>
<html>
<head>
  <title>{{name}}</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <h1 id="name">{{name}}</h1>
  <h2 id="profession">{{profession}}</h2>
  <ul id="contact">
  {{#each contact}}
    <li>{{{this}}}</li>
  {{/each}}
  </ul>
  {{#each sections}}
  <div class="section">
    <h1>{{section}}</h1>
    {{#each subsections}}
      <h2>{{subsection}}{{#if date}}<span>{{{date}}}</span>{{/if}}</h2>
      {{#if details}}
      <ul>
      {{#each details}}
        <li>{{{this}}}</li>
      {{/each}}
      </ul>
      {{/if}}
    {{/each}}
  </div>
  {{/each}}
</body>
</html>
